<div class="search-bars container">
  <%= search_form_for @q, url: search_wines_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="row">
      <div class="search-bar-holder d-flex col-sm-6 col-lg-3 mb-2">
        <div class="input-group">
          <%= f.collection_select(:type_id, Type.all, :id, :name, { include_blank: "ワインの種類で検索" }, {class:"form-select" }) %>
          <%= button_tag type: 'submit', class:"btn btn-outline-secondary" do %>
            <i class="fas fa-search"></i> 検索
          <% end %>
        </div>
      </div>
      <div class="search-bar-holder d-flex col-sm-6 col-lg-3 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="キーワードを入力">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> 検索</button>
        </div>
      </div>
      <div class="search-bar-holder d-flex col-sm-6 col-lg-3 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="キーワードを入力">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> 検索</button>
        </div>
      </div>
      <div class="search-bar-holder d-flex col-sm-6 col-lg-3 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="キーワードを入力">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> 検索</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="search-bar-holder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="キーワードを入力">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> 検索</button>
        </div>
      </div>
    </div>
  <% end %>
</div>