/******************************************************/
// 全体
/******************************************************/

body {
  height: 100vh;
  background-color: #fff9f9;
}

/******************************************************/
// ユーザー機能
/******************************************************/

/*新規登録ページ*/

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-title {
  font-size: 60px;
  font-weight: 900;
  color: #331215;
}

.app-philosophy {
  color: #331215;
  text-align: center;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup h1 {
  text-align: center;
}

.form-signup p {
  text-align: right;
}

.link-login {
  color: black;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-holder {
  margin-top: 20px;
}

/*ログインページ*/
.login-flash-message {
  margin-top: 20px;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin h1 {
  text-align: center;
}

.form-signin p {
  text-align: right;
}

.field-remember {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/******************************************************/
// ワイン登録機能
/******************************************************/

/*ナビゲーションバー*/
.navbar {
  background-color: #331215; 
}

.header-logo {
  font-weight: 600;
}

/*マイページ*/
.search-bars {
  margin-top: 40px;
}

.wine-items {
  margin-top: 40px;
}

.wine-items-headline {
  color:#331215;
  margin-bottom: 20px;
}

.wine-digest {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.wine-star {
  color: #daa520;
}

/*マイページ  ワイン登録ボタン*/
.wine-new-btn {
  width: 120px;
  background: #331215;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.wine-new-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.wine-new-btn-icon {
  width: 60%;
}

/*ワイン新規登録ページ*/
.winenote-new {
  padding-top: 80px;
  margin: 0 auto;
}

.winenote-new-title {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.container-winenote-new-main {
  width: 100%;
  background-color: #f8f8ff;
  border: 1px solid #c6c6cc;
  border-radius: 5px;
  padding: 60px 20px;
}

.winenote-new-main {
  margin: 0 auto;
}

.input-filed-winenote {
  border-bottom: 1px solid #c6c6cc;
  padding: 30px 0;
}

.btn-holder-wine {
  margin-top: 40px;
}

.btn-create {
  background-color: aquamarine;
}

/*ワイン詳細表示ページ*/
.winenote-show {
  padding-top: 80px;
  margin: 0 auto;
}

.container-winenote-show-photos {
  margin-bottom: 30px;
}

.container-winenote-show-details {
  margin-bottom: 30px;
  padding: 0 10px;
}

.winenote-show-details {
  background-color: #f8f8ff;
  border: 1px solid #c6c6cc;
  border-radius: 5px;
  padding: 20px;
  color:#331215;
}

.winenote-show-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6cc;
}

.winenote-show-detail {
  padding-top: 10px;
}

