
/*新規登録ページ*/

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-title {
  font-size: 60px;
  font-weight: 900;
  color: #331215;
}

.app-philosophy {
  color: #331215;
  text-align: center;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup h1 {
  text-align: center;
}

.form-signup p {
  text-align: right;
}

.link-login {
  // text-decoration: none;
  color: black;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-holder {
  margin-top: 20px;
}

/*プロフィール登録ページ*/
.radio-btn-sex {
  margin-top: 40px;
}

/*ログインページ*/
.login-flash-message {
  text-align: center;
  color: red;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin h1 {
  text-align: center;
}

.form-signin p {
  text-align: right;
}

.field-remember {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}