<%= render "shared/header" %>

<%= render "shared/search_bar" %>

<div class="wine-items container">
  <div class="wine-items-headline">
    <h3>検索結果</h3>
    <p class="link-root">▶▶▶ <%= link_to 'マイページへ戻る', root_path %></P>
  </div>

  <div class="row">
    <% @wines.each do |wine| %>
      <%= render partial: "shared/index", locals: { wine: wine } %>
    <% end %>
  </div>
</div>